@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --color-background: #f1f3f6;
  --color-foreground: #1c1c1c;
  --color-content: #ffffff;
  --color-default: #1c1c1c;

  --color-primary: #567df4;
  --color-danger: #e65858;
  --color-danger-50: #6a1c1c;
  --color-warning: #ffbf00;
  --color-success: #afe1af;
  --color-secondary: #d1defc;

  --color-overlay: #1c1c1c;
  --color-skeleton: #e8eaed;
  --color-skeleton-highlight: #f5f6f8;

  --color-selection: #cdd9ff;
}

:root[data-theme='dark'] {
  --color-background: #2a2a2c;
  --color-foreground: #f1f3f6;
  --color-content: #1a1a1c;
  --color-default: #f1f3f6;

  --color-skeleton: #2e313a;
  --color-skeleton-highlight: #3d414c;

  --color-selection: #567df4;
}

::selection {
  @apply bg-selection;
}

@theme {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-content: var(--color-content);
  --color-default: var(--color-default);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-success: var(--color-success);
  --color-danger: var(--color-danger);
  --color-danger-50: var(--color-danger-50);
  --color-warning: var(--color-warning);
  --color-overlay: var(--color-overlay);
  --color-skeleton: var(--color-skeleton);
  --color-skeleton-highlight: var(--color-skeleton-highlight);
  --color-selection: var(--color-selection);

  --radius-sm: 0.25rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.25rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 1.75rem;
  --radius-content: 3.4375rem;

  --border-1: 0.0625rem;
  --border-2: 0.125rem;
  --border-3: 0.1875rem;

  --opacity-base: 0.8;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-ripple: ripple 0.6s linear;
  --animate-shimmer: shimmer 2s infinite;
  --animate-caret-blink: caret-blink 1s infinite;

  @keyframes ripple {
    to {
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
    to {
      height: 0;
    }
  }

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }

  @keyframes shimmer {
    100% {
      transform: translateX(200%);
    }
  }
}

@layer {
  button {
    @apply cursor-pointer;
  }

  body {
    @apply bg-background text-foreground flex h-screen antialiased transition-colors lg:py-8! lg:pr-8!;
  }
}

@utility transition-colors-background-opacity {
  transition-property:
    transform, color, background, background-color, border-color, font-weight,
    text-decoration-color, fill, stroke, opacity, outline;
  transition-timing-function: ease;
  transition-duration: 0.25s;
}

@utility outline-focus-base {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
