.wrapper {
  display: flex;
  gap: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 62px);
}

.avatar {
  display: flex;
  overflow: hidden;
  border-radius: 50%;

  img {
    max-width: 100%;
  }
}

.name {
  font: {
    size: 20px;
    weight: 600;
  }

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.email {
  font: {
    weight: 400;
    size: 16px;
  }

  color: var(--color-gray);

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.login {
  font: {
    size: 18px;
  }
  padding-left: 2px;
}
