@import "@/styles/utils/mixins.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  position: fixed;
  background: var(--color-white);
  width: 200px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  right: 0;
}

.item {
  padding: 16px 20px;
  cursor: pointer;

  @include hover-screen {
    &:hover {
      background: var(--color-hover);
    }
  }

  &.danger {
    color: var(--color-red);
  }
}
