@import "@/styles/utils/mixins.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background: var(--color-white);
  width: 200px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  right: 0;
  z-index: 2000;
}

.item {
  background: transparent;
  border: none;
  text-align: left;

  font: {
    size: 16px;
  }
  padding: 16px 20px;
  cursor: pointer;

  @include hover-screen {
    &:hover {
      background: var(--color-hover);
    }
  }

  &.danger {
    color: var(--color-red);
    font: {
      weight: 600;
    }
  }
}
