.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  flex-grow: 1;
  gap: 16px;
  height: 100%;
  padding: 24px;

  text-align: center;

  h5 {
    font: {
      size: 32px;
    }
  }

  button {
    margin-top: 12px;
  }
}
