.form {
  display: flex;
  flex-direction: column;

  label {
    &:not(:last-child) {
      margin: 16px 0 8px;
    }
  }

  h1 {
    font: {
      size: 36px;
    }
    text-align: center;
  }

  p {
    font: {
      size: 18px;
    }
    padding: 16px 0;
    a {
      color: var(--color-blue_dark);
    }
  }
}
