.modal {
  display: grid;
  place-items: center;

  position: fixed;
  inset: 0;
  z-index: 1000;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 700px;
  min-height: 500px;
  background: var(--color-white);
  border-radius: 15px;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: none;
}

.closeButton {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}
