.modal {
  display: grid;
  place-items: center;

  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;

  background: var(--color-hover);
}

.content {
  width: 100%;
  max-width: 600px;
  height: 400px;
  background: var(--color-white);
  border-radius: 15px;
  padding: 20px;
}
