* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: var(--offset-body-padding);

  background: var(--color-body-backgroud);
  color: var(--color-black);
}

body {
  .not-found {
    display: grid;
    place-items: center;

    width: 100%;
    height: 100%;

    font: {
      size: 54px;
      weight: 600;
    }
  }

  &::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    inset: 0;
    background: var(--color-black_400);
    opacity: 0;
    transition: 0.2s;
    pointer-events: none;
  }
}

.root-portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
}

.body-backdrop {
  &::before {
    opacity: 1;
    transition: 0.2s;
    pointer-events: auto;
  }
}
