* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: var(--offset-body-padding);

  background: var(--color-body-backgroud);
  color: var(--color-black);
}

body {
  .row {
    height: calc(100vh - 60px);
  }

  .not-found {
    display: grid;
    place-items: center;

    width: 100%;
    height: 100%;

    font: {
      size: 54px;
      weight: 600;
    }
  }
}
