:root {
  --offset-body-padding: 30px 30px 30px 0;

  --color-body-backgroud: #f1f3f6;
  --color-black_font: #1b1d28;
  --color-white_font: #fff;
  --color-white: #fff;
  --color-blue_light: #567df4;
  --color-blue_light_alt: #68afd3;
  --color-blue_light_100: rgba(86, 125, 244, 0.1);
  --color-blue_light_200: rgba(86, 125, 244, 0.2);
  --color-blue_light_800: rgba(86, 125, 244, 0.8);
  --color-blue_dark: #22215b;
  --color-blue_dark_600: rgba(34, 33, 91, 0.6);
  --color-black: #1b1d28;
  --color-black_400: rgba(27, 29, 40, 0.4);
  --color-red: #f87070;
  --color-yellow: #ffbf00;
  --color-green: #afe1af;
  --color-hover: rgba(28, 28, 28, 0.04);
  --color-shadow: rgba(100, 100, 111, 0.2);
  --color-gray: #7b7f9e;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}

:root[data-theme="dark"] {
  --color-body-backgroud: #2a2a2d;
  --color-white: #1a1a1c;
  --color-blue_light: #4a6fce;
  --color-blue_light_alt: #5c9cb5;
  --color-blue_light_100: rgba(74, 111, 206, 0.1);
  --color-blue_light_200: rgba(74, 111, 206, 0.2);
  --color-blue_light_800: rgba(74, 111, 206, 0.8);
  --color-blue_dark: #e5e5e5;
  --color-blue_dark_600: rgba(23, 22, 61, 0.6);
  --color-black: #e5e5e5;
  --color-black_400: rgba(15, 15, 18, 0.4);
  --color-red: #d06060;
  --color-yellow: #d4a300;
  --color-green: #8ebd8e;
  --color-hover: rgba(255, 255, 255, 0.04);
  --color-shadow: rgba(71, 71, 80, 0.3);
  --color-gray: #a1a4ba;
}
