.input {
  border: 2px solid #eef2fe;
  border-radius: 10px;
  padding: 12px 20px;
  width: 100%;
  transition: 0.2s;

  font: {
    size: 18px;
    weight: 500;
  }

  color: var(--color-black_font);

  &::placeholder {
    color: var(--color-black_400);
    line-height: 0;
  }

  &[type="color"] {
    height: 52px;
    background: transparent;
    padding: 4px 10px;
  }

  &:focus {
    outline: none;
    border: 2px solid var(--color-blue_light);
  }

  &.valid {
    outline: none;
    border: 2px solid var(--color-green);
  }

  &.single {
    text-align: center;
    padding: 0;
    width: 55px;
    height: 55px;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }

  &[aria-invalid="true"] {
    border: 2px solid var(--color-red);
    animation: shake 0.3s;
  }
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    stroke: var(--color-black_400);
  }

  &.iconOffset {
    &.iconLeft {
      .input {
        padding-left: 40px;
      }

      svg {
        left: 12px;
      }
    }

    &.iconRight {
      .input {
        padding-right: 40px;
      }

      svg {
        right: 12px;
      }
    }
  }
}
