.form {
  text-align: center;
}

.danger {
  color: var(--color-red);
  font: {
    size: 22px;
  }
}

.name {
  user-select: none;
  font: {
    size: 18px;
  }
}

.confirm {
  font: {
    size: 18px;
  }
}
