.row {
  padding-top: 35px;
}

.emptyRow {
  width: 100%;
  padding-top: 200px;
}

.empty {
  text-align: center;
  margin-bottom: 16px;

  font: {
    size: 24px;
  }

  strong {
    font: {
      size: 48px;
      weight: 600;
    }
  }
}

.notFound {
  text-align: center;
  padding-top: 200px;
  font: {
    size: 32px;
  }
}
