@import "@/styles/utils/mixins";

.wrapper {
  display: grid;
  place-items: center;
  width: 60%;
  margin-bottom: 12px;

  @include max-xl-screen {
    width: 80%;
    padding-top: 30px;
    height: 310px;
  }
}
