@mixin hover-screen {
  @media (hover: hover) {
    @content;
  }
}

@mixin not-hover-screen {
  @media (hover: none) {
    @content;
  }
}

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

@mixin max-xs-screen {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin max-sm-screen {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin max-md-screen {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin max-lg-screen {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin max-xl-screen {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin max-xxl-screen {
  @media (max-width: $breakpoint-xxl) {
    @content;
  }
}

@mixin min-xs-screen {
  @media (min-width: $breakpoint-xs) {
    @content;
  }
}

@mixin min-sm-screen {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin min-md-screen {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin min-lg-screen {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin min-xl-screen {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin min-xxl-screen {
  @media (min-width: $breakpoint-xxl) {
    @content;
  }
}
