.linkWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70px;
  gap: 10px;

  font: {
    size: 20px;
  }

  a {
    flex-grow: 1;
    font: {
      size: 16px;
    }
  }
}

.blured {
  flex-grow: 1;
  border-radius: 12px;
  width: 100%;
  background: var(--color-hover);
  border: none;
}

.switcher {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 8px;
}
