@import "@/styles/utils/mixins";

.title {
  margin-bottom: 18px;

  font: {
    size: 22px;
  }
}

.row {
  justify-content: space-between;
}

.foldersCol {
  @include min-xl-screen {
    padding-right: 40px;
  }

  @include max-xl-screen {
    margin-bottom: 20px;
  }
}

.filesCol {
  @include min-xl-screen {
    padding-left: 40px;
  }
}
