.item {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 300px;
  height: 80px;
  border-radius: 16px;
  padding: 20px;
  position: fixed;
  transition: 0.2s;
  right: 10px;
  bottom: -10px;
  cursor: pointer;

  font: {
    size: 16px;
    weight: 600;
  }

  &.warning {
    background: var(--color-yellow);
  }

  &.error {
    background: var(--color-red);
  }

  &.info {
    background: var(--color-blue_light_alt);
  }

  &.success {
    background: var(--color-green);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
