.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 24px;
  gap: 24px;

  h5 {
    text-align: center;
    font: {
      size: 24px;
    }
  }

  span {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.error {
  color: var(--color-red);
}
