.switcher {
  display: block;
  position: relative;
  width: 55px;
  height: 30px;
}

.slider {
  $transitionTime: 0.3s;

  position: absolute;
  cursor: pointer;
  inset: 0;
  border-radius: 34px;
  background: var(--color-blue_light_100);

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: var(--color-blue_light);
    border-radius: 50%;
    transition: $transitionTime;
  }
}

.input {
  &:checked {
    & + .slider {
      background: var(--color-blue_light);

      &::before {
        transform: translateX(26px);
        background: var(--color-white);
      }
    }
  }

  &:focus {
    & + .slider {
      box-shadow: 0 0 1px var(--color-blue_light_100);
    }
  }
}
