@import "@/styles/utils/mixins";

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 60px;
  border-radius: 20px;
  margin-bottom: 20px;

  &.minify {
    height: 45px;
    padding: 0;

    .name {
      font: {
        size: 18px;
      }
    }

    .date {
      font: {
        size: 14px;
      }
    }

    .size {
      color: var(--color-gray);
      font: {
        size: 14px;
      }
      width: 15%;
    }

    .info {
      align-items: flex-start;
      width: 65%;

      @include max-sm-screen {
        width: 35%;
      }
    }
  }
}

.name {
  font: {
    size: 22px;
  }
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-self: center;

  &.grow {
    flex-grow: 1;
  }
}

.contextButton {
  display: grid;
  place-items: center;
  width: 35px;
  height: 35px;
  background: none;
  border: none;

  svg {
    pointer-events: none;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
}

.size {
  color: var(--color-gray);
  font: {
    size: 14px;
  }
}

.mobileContext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 100%;
}
